body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 1365px;
    height: 820px;
    padding-top: 50px;
    padding-left: 155px;
    padding-right: 150px;
    background-image: url(C:/DanitHOMEWORKS/Homework3/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.top_section {
    height: 45px;
    width: 1060px;
    color: #ffffff;
}

.top_section:after {
    content: '';
    display: block;
    clear: both;
}

.left_section {
    float: left;
}

.logo {
    float: left;
    height: 49px;
    margin-right: 10px;
}

.left_section p {
    float: left;
    font-size: 29px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.holidays {
    font-size: 18px;
    font-weight: bold;
}

.right_section {
    float: right;
    text-align: right;
    font-size: 18px;
}

.cards_container {
    margin-left: -30px;
    width: 1120px;
}
.cards_container:before,
.cards_container:after {
    content: '';
    display: block;
    clear: both;
}
.card {
    width: calc(33.33% - 60px);
    float: left;
    margin: 30px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}
.card img {
    width: 100%;
    height: auto;
    display: block;
}

.footer {
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
}